@model List<DapperProject.Dtos.SliderDtos.ResultSliderDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div class="col-md-12 mt-5">
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
                <h2>Öne Çıkan Alan Listesi</h2>
                <small>Not:Tema bütünlüğü için lütfen 4 adet veri girişi yapınız.</small>
            </div>
        </div>
        <div class="table_section padding_infor_info">
            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Açıklama</th>
                            <th>Ikon</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count > 0)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.SliderId</td>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td>@item.ImageUrl</td>
                                    <td><a href="/Admin/Slider/DeleteSlider/@item.SliderId" class="btn btn-danger">Sil</a></td>
                                    <td><a href="/Admin/Slider/UpdateSlider/@item.SliderId" class="btn btn-warning">Güncelle</a></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <div class="alert alert-warning">Herhangi bir kayıt bulunamadı.</div>
                        }

                    </tbody>
                </table>
                <a href="/Admin/Slider/CreateSlider" class="btn btn-primary">Yeni Öne Çıkan Alan Girişi</a>
            </div>
        </div>
    </div>
</div>
