@model DapperProject.Dtos.CategoryDtos.CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div class="col-md-12 mt-5">
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
                <h2>Yeni Kategori Girişi</h2>
            </div>
        </div>
        <div class="table_section padding_infor_info">
            <div class="table-responsive-sm">
                <form method="post">
                    <div class="form-group">
                        <label>Kategori Adı</label>
                        <input type="text" class="form-control" name="CategoryName"/>
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>

