﻿
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services py-4 d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-pin"></span></div></div>
                    <div class="media-body p-2 mt-2">
                        <h3 class="heading mb-3">Türkiye'nin Her Yerinde Yer Bulun</h3>
                        <p>Eviniz, dağların eteğinde akan berrak bir derenin huzuruyla buluşsun.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services py-4 d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-detective"></span></div></div>
                    <div class="media-body p-2 mt-2">
                        <h3 class="heading mb-3">Tecrübeli acentelerimiz var</h3>
                        <p>Doğanın içinde, gölet manzaralı mülklerimizle size özel fırsatlar sunuyoruz.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-sel Searchf-stretch ftco-animate">
                <div class="media block-6 services py-4 d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-house"></span></div></div>
                    <div class="media-body p-2 mt-2">
                        <h3 class="heading mb-3">Modern Mülkler Satın Alın ve Kiralayın</h3>
                        <p>Şehrin kalbinde, gökdelenlerin arasında sizi bekleyen yeşil alanlara sahip lüks konutlar..</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services py-4 d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-purse"></span></div></div>
                    <div class="media-body p-2 mt-2">
                        <h3 class="heading mb-3">Para Kazanmak</h3>
                        <p>Yatırımınız, deniz manzaralı bu benzersiz lokasyonda her geçen gün daha da değerlenecek.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>